@tailwind base;
@tailwind components;
@tailwind utilities;

.point {
  position: relative;
}

.point:before {
  content: '';
  position: absolute;
  left: -42px;
  top: 70px;
  display: inline-block;
  width: 26px;
  height: 26px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-top-right-radius: 50%;
  -o-border-top-left-radius: 50%;
  -o-border-bottom-right-radius: 50%;
  -o-border-bottom-left-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: white;
}

.point:after {
  content: '';
  position: absolute;
  left: -36px;
  top: 76px;
  display: inline-block;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-top-right-radius: 50%;
  -ms-border-top-left-radius: 50%;
  -ms-border-bottom-right-radius: 50%;
  -ms-border-bottom-left-radius: 50%;
  -o-border-top-right-radius: 50%;
  -o-border-top-left-radius: 50%;
  -o-border-bottom-right-radius: 50%;
  -o-border-bottom-left-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: black;
  z-index: 10;
}

::after,
::before {
  box-sizing: border-box;
}
